<ion-header>
	<ion-toolbar>
		<ion-title>Ionic Todo</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="openTodoAlert()">
				<ion-icon name="add"></ion-icon>
			</ion-button>
			<ion-button *ngIf="isDisabledReordering && isNotEmptyTodo" (click)="enabledReordering()">
				<ion-icon name="create"></ion-icon>
			</ion-button>
			<ion-button *ngIf="!isDisabledReordering && isNotEmptyTodo" (click)="disabledReordering()">
				<ion-icon name="done-all"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="ion-padding">
		This is my first todo app.
		<p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
	</div>
	<ion-list>
		<ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="isDisabledReordering">
			<ion-item-sliding *ngFor="let todo of allTodos; let index = index">
				<ion-item>
					<ion-label>
						{{todo.title}}
					</ion-label>
					<ion-reorder slot="end"></ion-reorder>
				</ion-item>
				<ion-item-options side="start">
					<ion-button color="danger" (click)="editTodo(index)">
						<ion-icon name="create"></ion-icon>
					</ion-button>
				</ion-item-options>
				<ion-item-options side="end">
					<ion-button color="danger" (click)="deleteTodo(index)">
						<ion-icon name="trash"></ion-icon>
					</ion-button>
				</ion-item-options>
			</ion-item-sliding>
		</ion-reorder-group>
	</ion-list>

	<ion-fab vertical="bottom" horizontal="end">
		<!-- <ion-fab-button size="small" (click)="goToArchivePage()"> -->
		<ion-fab-button size="small" [routerLink]="['/archive-todos']">
 			<ion-icon name="archive"></ion-icon>
 		</ion-fab-button>
 		<!-- </ion-fab-button> -->
	</ion-fab>

</ion-content>
